p.plain {

}
h3 {
  color: white;
  font-family: "Lucida Console", monaco, monospace;
}
h4 {
  color: white;
  font-family: "Lucida Console", monaco, monospace;
}
h5 {
  color: white;
  font-family: "Lucida Console", monaco, monospace;
}
a {
  color: white;
}

a.h{
  text-decoration: none;
}

img {
  margin-bottom:10px;
}
